label {
    text-emphasis-color: #C4C4C4;
    padding:1;
}
entry {
    width: 400;
    background-color: #DBDBDB;
    padding: 10,10;
    align-self: start;
    
   }

border{
    border: dashed;
    border-width: 2;
    border-radius:50;
}
#patientContainer {
    border: none;
    background-color: Wheat;
    border-width:0 ;
    margin: 20,15,20,30;
}
#patientTitle {
    font-size: 24;
    font-weight: bold;
    text-emphasis-color:Black;
}
button {
    background-color: #EC9C13;
}