label {
    color: #C4C4C4;
    padding:1;
}
entry {
    width: 400;
    background-color: #DBDBDB;
    padding: 10,10;
    align-self: start;
    color:black;
   }
picker {
    background-color: #DBDBDB;
    color:black;
}
border{
    border: dashed;
    border-width: 2;
    border-radius:50;
}
#patientContainer {
    border: none;
    background-color: antiquewhite;
    border-width:0 ;
    margin: 20,15,20,30;
}
#patientTitle {
    font-size: 24;
    font-weight: bold;
    color:white;
}
button {
    background-color: #EC9C13;
}